<% provide(:title, "All users") %>
<h1>All users</h1>

<div id="search">
	<%= render('users/search') %>
</div>

<%= will_paginate %>

<ul class="users">
		<%= render @users %>
</ul>

<%= will_paginate %>

